<template>
    <info-screen :whole="'全部'" :data="nameList"></info-screen>
</template>
<script>
    export default {
        data() {
            return {
                // 人员基本标签
                nameList: [
                    {
                        name: '01/01',
                        checked: false
                    },
                    {
                        name: '01/02',
                        checked: true
                    },
                    {
                        name: '01/03',
                        checked: true
                    },
                    {
                        name: '01/04',
                        checked: false
                    },
                    {
                        name: '01/05',
                        checked: true
                    },
                    {
                        name: '01/06',
                        checked: false
                    },
                    {
                        name: '01/07',
                        checked: true
                    },
                    {
                        name: '01/08',
                        checked: true
                    },
                    {
                        name: '01/09',
                        checked: true
                    }
                ]
            }
        }
    };
</script>